
.Main_Container{
    max-width: 100vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: url("https://img3.akspic.ru/crops/7/8/9/5/3/135987/135987-shtanga-sportzal-koleso-silovaya_trenirovka-trening-1920x1080.jpg") no-repeat;
    background-attachment: fixed; 
	background-size: cover;
}

